/*@font-face {
  font-family: "Lexend Peta";
  src: local("Lexend Peta Regular"),
    local("LexendPeta-Regular"),
    url("/fonts/Lexend_Peta-webfont.woff2") format("woff2"),
    url("/fonts/Lexend_Peta-webfont.woff") format("woff"),
    url("/fonts/Lexend_Peta-webfont.svg") format("svg")
  font-weight: normal;
}*/

:root {
	--color-link: #000000;
}


